__pycache__/
results/
outcome/
.ipynb_checkpoints/
Analysis/.ipynb_checkpoints/
Analysis/reana/*.ipynb
src/__pycache__/
data/models/*.txt
data/models/modelfits/*.txt
data/models/plots/*.png
data/models/plots/*.pdf
data/.ipynb_checkpoints/
data/cta/plots/
data/cta/pseudodata/
data/km3net/plots/
data/km3net/pseudodata/
data/likelihood_analysis/plots/
data/likelihood_analysis/results*
data/likelihood_analysis/numpy_files/